# ==========================================
# Entorno y Servidor
# ==========================================
NODE_ENV=development
PORT=3000

# ==========================================
# Base de Datos PostgreSQL
# ==========================================
# Se puede usar DATABASE_URL o parámetros individuales (tienen precedencia si se definen)
DATABASE_URL=
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=nodejs
DB_PASSWORD=123456
DB_NAME=postgres
DB_POOL_SIZE=10
DB_SSL=false
DB_LOGGING=false

# ==========================================
# Seguridad & Tokens (JWT)
# ==========================================
JWT_ACCESS_SECRET=riwi_cine_jwt_access_super_secret_key_change_in_production_min_32_chars!
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=riwi_cine_jwt_refresh_super_secret_key_change_in_production_min_32_chars!
JWT_REFRESH_EXPIRES_IN=7d
CSRF_SECRET=riwi_cine_csrf_super_secret_key_change_in_production!
BCRYPT_SALT_ROUNDS=10

# ==========================================
# Cookies
# ==========================================
COOKIE_DOMAIN=localhost
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax

# ==========================================
# Servicios Externos
# ==========================================
CAPTCHA_SECRET=mock-captcha-secret
PAYMENT_PROVIDER=mock

# ==========================================
# Correo Electrónico
# ==========================================
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=soporte@riwicine.com
