# ==========================================
# Entorno y Servidor
# ==========================================
NODE_ENV=development
PORT=3000

# ==========================================
# Base de Datos PostgreSQL
# ==========================================
# Se puede usar DATABASE_URL o parámetros individuales (tienen precedencia si se definen)
DATABASE_URL=
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=nodejs
DB_PASSWORD=123456
DB_NAME=postgres
DB_POOL_SIZE=10
DB_SSL=false
DB_LOGGING=false

# ==========================================
# Seguridad & Tokens (JWT)
# ==========================================
JWT_ACCESS_SECRET=riwi_cine_jwt_access_super_secret_key_change_in_production_min_32_chars!
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=riwi_cine_jwt_refresh_super_secret_key_change_in_production_min_32_chars!
JWT_REFRESH_EXPIRES_IN=7d
CSRF_SECRET=riwi_cine_csrf_super_secret_key_change_in_production!
BCRYPT_SALT_ROUNDS=10

# ==========================================
# Cookies
# ==========================================
COOKIE_DOMAIN=localhost
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax

# ==========================================
# Servicios Externos
# ==========================================
CAPTCHA_SECRET=mock-captcha-secret
PAYMENT_PROVIDER=mock

# ==========================================
# Correo Electrónico
# ==========================================
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=soporte@riwicine.com

# ==========================================
# DevOps & CI/CD (Jenkins & SonarQube)
# ==========================================
JENKINS_HTTP_PORT=8080
JENKINS_AGENT_PORT=50000
JENKINS_IMAGE=jenkins-cine-backend:latest
JENKINS_HOME=/var/jenkins_home

SONARQUBE_PORT=9000
SONARQUBE_IMAGE=sonarqube:community
SONAR_PROJECT_KEY=riwi-cine-nest
SONAR_PROJECT_NAME=Cine-Backend-Nest

GIT_REPOSITORY=https://github.com/manulzweb/cine-backend-nest.git
GIT_BRANCH=main

APP_CONTAINER_NAME=cine-backend-nest
APP_IMAGE=cine-backend-nest:latest
APP_HEALTH_PATH=/health
API_REPLICAS=2

# ==========================================
# Monitoreo de Infraestructura (Zabbix 7.0 LTS)
# ==========================================
ZABBIX_WEB_PORT=8088
ZABBIX_SERVER_PORT=10051
ZABBIX_AGENT_PORT=10050
ZABBIX_DB_USER=zabbix
ZABBIX_DB_PASSWORD=zabbix_pass_2026
ZABBIX_DB_NAME=zabbix




